In [1]:
import pandas as pd
import sqlite3

ModuleNotFoundError: No module named 'pandas'

## Подключаемся в БД

In [ ]:
data = sqlite3.connect("../data/checking-logs.sqlite")

:

:

## Получить схему таблицы pageviews

- `pd.read_sql()` -> Метод выполняющий `SQL` запросы и Возвращает результат в виде `pandas` датафрейма
    
    - Принимает 2 параметра
    
        - `SQL` запрос
        
        - Куда этот запрос использовать

In [ ]:
pd.read_sql("PRAGMA table_info(pageviews);", data)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

:

:

## Получаем первые 10 строк от БД

In [ ]:
pd.read_sql("SELECT * FROM pageviews LIMIT 10", data)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

:

:

## Получаем Подтаблицу одним запросом

- Используйте только `uid` и `datetime`

- Только данные пользователей `user_*` без админов

- Сортировка по `uid` по возрастанию

- Индекс `datetime`

- Преобразуйте в `DatetimeIndex`

- Назовите `DataFrame` `pageviews`

In [ ]:
sql_request = """
SELECT uid, datetime FROM pageviews
WHERE uid LIKE `user_%` 
ORDER BY uid
"""

view = pd.read_sql(sql_request, data, index_col = "datetime")

view.index = pd.to_datetime(view.index)

view

DatabaseError: Execution failed on sql '
SELECT uid, datetime FROM pageviews
WHERE uid like `user_%`
ORDER BY uid
': no such column: user_%

:

:

:

: